body {
  font-size: 14px;
  font-family: "Arial", sans-serif;
}

h1 {
  font-size: 10em;
  text-align: center;
  color: #9c0030;
  z-index: -1;
  position: absolute;
  width: 100%;
  line-height: 80%;
  text-shadow: 2px 2px #ff0000;
}

#numCardsForm {
  margin-left: auto;
  margin-right: auto;
  width: 290px;
}

#numCardsForm select {
  font-size: 1.4em;
  padding: 8px;
}

#numCardsForm input {
  padding: 14px;
  border: 1px solid #ccc;
}

#playArea {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
}

#playerOneCards {
  width: 45%;
  margin-right: 10%;
}

#playerTwoCards {
  width: 45%;
}

#reserveArea1, #reserveArea2 {
  display: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#reserveArea1 > div, #reserveArea2 > div {
  background-color: #ddd;
  padding: 10px;
}

.cardId0, .cardId1, .cardId2, .cardId4, .cardId6, .cardId3, .cardId5, .cardId7 {
  border: 2px solid #000;
  border-radius: 10px;
  color: #fff;
}

.cardId0, .cardId1 {
  background: rgb(34,146,195);
  background: linear-gradient(0deg, rgba(34,146,195,1) 0%, rgba(112,45,253,1) 100%);
}

.cardId2, .cardId4, .cardId6 {
  font-size: 0.8em;
  background: rgb(34,186,195);
  background: linear-gradient(0deg, rgba(34,186,195,1) 0%, rgba(45,159,253,1) 100%);
}

.cardId3, .cardId5, .cardId7 {
  font-size: 0.8em;
  background: rgb(34,186,195);
  background: linear-gradient(0deg, rgba(34,186,195,1) 0%, rgba(45,159,253,1) 100%);
}

.active0, .active1 {
  background-color: #eee;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 10px;
}

.actionButtonCont {
  width: 100%;
}

.actionButtonFrame {
  margin-left: auto;
  margin-right: auto;
  width: 470px;
  height: 70px;
}

.actionButtonFrame button {
  width: 140px;
  height: 60px;
  margin-right: 4px;
}

.playerTurnArrow {
  text-align: center;
  font-size: 3.5em;
  color: #DD5E89;
}

/* Gradient button CSS from https://html-online.com/articles/gradient-background-buttons-css-html/ */
.gradient-button {
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}
.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}
.gradient-button-1 {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%)}
.gradient-button-1:hover { background-position: right center; }

.gradient-button-2 {background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6 51%, #2BC0E4 100%)}
.gradient-button-2:hover { background-position: right center; }

.gradient-button-3 {background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%)}
.gradient-button-3:hover { background-position: right center; }
